.header {
  width: 100vw;
  color: #FFFFFF;
  background-color: goldenrod;
  background-image: url("/images/asfalt-light.png");
  padding-top: 6em;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-img {
  width: 200px;
}

.header-img img {
  width: 100%;
}

.header-username {
  font-size: 1.5em;
}


/* mobile styles */
@media only screen and (max-width: 767px) {
  .header {
    padding-top: 100px;
  }

}

/* this is messy but I was having an issue with this between 767 and 768px so i had to add 1 more pixel than the above*/
@media only screen and (max-width: 768px) {
  img#bob {
    display: none;
  }
}

/* tablet styles and desktop*/
@media only screen and (min-width: 768px) {
  .header {
    position: fixed;
    top: 175px;
    left: 1em;
    width: 250px;
    height: calc(100vh - 175px - 1em);
    /* full screen height minus top and bottom gaps */
    padding-top: 24px;
    overflow-y: auto;
    box-sizing: border-box;
    border-radius: 0.75em;
  }

  img#bob {
    opacity: 0;
    width: auto;
    height: 300px;
    position: fixed;
    left: 50px;
    top: 300px;
  }

  header:active #bob {
    opacity: 1;
  }
}