article.tweet {
  margin: 0.5em 0;
  padding: 1em;
  border: 0.2em solid #545149;
  width: 100%;
  max-width: 100%;
}

article.tweet:hover {
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 6px 6px 0px rgba(85, 131, 206, 0.386);
}

article.tweet header {
  font-weight: lighter;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweet header div {
  width: 100px;
  display: flex;
  align-items: center;
}

article.tweet header img {
  width: 100%;
}

article.tweet header span.handle {
  color: rgba(101, 101, 137, 0.871);
  font-weight: bolder;
  font-size: smaller;
}

article.tweet p {
  font-size: 0.75em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

article.tweet footer {
  border-top: solid #545149;
  font-size: small;
  padding-top: 0.5em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

article.tweet footer div i {
  padding-left: 5px;
  color: #4056A1;
}

article.tweet footer div i:hover {
  color: goldenrod;
}

/* small mobile screen styles */
@media only screen and (max-width: 500px) {
  article.tweet {
    width: 100%;
    padding: 0.5em;
    font-size: 0.75em;
  }
}