article.tweet {
  margin-top: 45px;
  padding-left: 15px;
  padding-right: 15px;
  border: 4px solid #545149;
}
article.tweet:hover {
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 6px 6px 0px rgba(85, 131, 206, 0.386);
  border-radius: 2px;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
}

article.tweet header p.handle {
  color: rgba(101, 101, 137, 0.871);
  font-weight: bolder;
  font-size: smaller;
}

article.tweet footer {
  display: flex;
  border-top: solid #545149;
  justify-content: space-between;
  font-size: small;
}